<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마도연구부 2.0 - 로그인</title>
  <link rel="icon" href="/css/images/makisekurisu.png">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div id="grid">
    <%- include('nav.ejs') %>
    <div id="textbox">
      <form class="form-box" action="/login" method="POST">
        <div>
          아이디 : <input name="username" type="text" autocomplete="off">
        </div>
        <div>
          비밀번호 : <input name="password" type="password" autocomplete="off">
        </div>
        <button class="login-btn" type="submit">로그인</button>
        <button class="signup-btn" type="button" onclick="location.href='/signup'">회원가입 하러가기</button>
      </form>
    </div>
  </div>
  
  <script src="/js/timer.js"></script>

</body>
</html>