<link rel="stylesheet" href="/css/nav.css">
<div id="menubar">
  <div id="time">
    <div id="timer" onload="startclock()">
      Display time
    </div>
    <div id="calender">
      Display date
    </div>
  </div>

  <ul class="nobullet">
    <div class="home">
      <li ><a id="home_content" href="/">홈으로</a></li>
    </div>
    <div class="my">
      <li ><a id="my_content" href="/mypage">마이페이지</a></li>
    </div>
    <div class="login">
      <li ><a id="login_content" href="/login">로그인 / 회원가입</a></li>
    </div>
    <div class="community">
      <li><a href="/list/1" id="community_content">커뮤니티</a></li>
    </div>
    <div class="archive">
      <li><a href="/project" id="archive_content">아카이브</a></li>
    </div>
    <div class="playground">
      <li ><a href="/playground" id="playground_content">Playground_βeta (실험실)</a></li>
    </div>
    <div class="chat">
      <li><a href="/chat" id="ch_content">@ 채널</a></li>
    </div>
      
  </ul>
</div>