<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마도연구부 2.0</title>
  <link rel="icon" href="/images/makisekurisu.png">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div id="grid">
    <%- include('nav.ejs') %>
      
    <div id="textbox">
      <div id="head">
        <h1>프로젝트 ヾ(｡ꏿ﹏ꏿ)ﾉﾞ</h1>
      </div>
    
      <div id="article">

        <table border="1" width="500px" style="border-collapse: collapse;">
          <tr align="center">
            <td colspan="2">Project_1 : 출석체크 bot</td>
          </tr>
          <tr align="center">
            <td>구상 : 2023.05.12</td>
            <td>비고 : NOT FOR SALE</td>
          </tr>
          <tr>
            <td colspan="2" class="cell-padding">
              <img src="/images/project1-1.png" width="400px">
              <p style="margin-top: 0%;">
                학교에 가지않고!, 친구에게 대리출석을 부탁하지 않아도 출석을
                인정받을 수 있는 Sensational한 아이템...! 
                이런것들이 교내에 여러 마리 돌아다니게 되면 상당한 문제가
                생기므로 판매는 하지 않음.<br>
                조사에 따르면 건강한 성인 남성의 평균 시속은 17-20km/h로, 로봇의
                최대속력을 25km/h 정도로 설계하여 교수님과의 달리기 시합에서 이길 수 있도록 하였습니다! 안심하십시오! <br>
                ※주의※ 마도연구부는 해당 로봇이 교수님에게 붙잡힌 이후의
                일에 대해서는 아무런 책임이 없음을 밝힙니다.
              </p>
            </td>
          </tr>
        </table><br>
        <table border="1" width="500px" style="border-collapse: collapse;">
          <tr align="center">
            <td colspan="2">Project_2 : 제육 볶아주는.exe</td>
          </tr>
          <tr align="center">
            <td>구상 : 2024.02.11</td>
            <td>비고 : 상업성 다소 짙음</td>
          </tr>
          <tr>
            <td colspan="2" class="cell-padding">
              <img src="/images/project2.png" width="400px">
              <p style="margin-top: 0%;">
                지갑 상태를 반영하여 식단과 레시피를 출력하는 웹 기반 프로그램. 
                X팡, X마켓 등의 식재료 가격을 실시간으로 반영하여 한도 금액을 입력하면 그에 맞는 음식과 레시피를 던져준다.<br>
                (작성자曰 : 이런게 있어도 밥을 집에서 해먹을것 같지는 않다.)<br>
                p.s. 이 제품은 수원사는 HY군의 아이디어를 바탕으로 설계되었습니다. (자취방에 오븐과 무쇠 솥밥이 있는 신기한 녀석이다.)
              </p>
            </td>
          </tr>
        </table>
      </div>

      <div class="info">
        (주X)마도연구부<br>
        서울 동작구 노들로2길 7<br>
        ☎ 010-8681-0930<br>
        copyrightⓒ2023 All rights NOT reserved by 마도연구부<br>
        released on 2023.5.21
      </div>
    </div>
  </div>
  
  <script src="/js/timer.js"></script>

</body>
</html>