@font-face {
  font-family: 'neodgm';
  src: url(neodgm.woff) format('woff');
}
@media (min-width: 800px) {
  body {
  line-height: 30px;
  margin: 0;
  font-family: "neodgm";
  }
  a {
    text-decoration: none;
    color: aliceblue;
  }
  a:visited { 
    color: aliceblue;
    text-decoration: none; 
  }
  #grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr;
  }
  #menubar {
    border-right: 3px solid rgb(225, 211, 11);
    background-image: url('images/background_menubar.avif');
    background-position: center;
    background-size: cover;
    color: aliceblue;
    font-size: 17px;
  }
  .nobullet {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  #textbox {
    height: 100vh;
    padding-left: 20px;
    background-image: url('images/background.gif');
    background-repeat : no-repeat;
    background-size : cover;
    color: aliceblue;
    position: relative;
    font-size: small;
    display: flex;
    flex-direction: column;
  }
  .chat_intro {
    font-size: medium;
    margin: 1em;
  }
  #chatbox {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 550px;
  }
  .chatscreen {
    clear: both;
  }
  .chat-input {
    position: fixed;
    bottom: 10px;
    clear: both;
  }
}

/* mobile */
@media (max-width: 800px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  #menubar {
    display: none;
  }
  #textbox {
    height: 100%;
    padding-left: 20px;
    background-image: url('images/background.gif');
    background-repeat : no-repeat;
    background-size : cover;
    color: aliceblue;
    position: relative;
    font-size: small;
    display: flex;
    flex-direction: column;
  }
  #chatbox {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
  }
  #grid {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}